{
  "presets": ["next/babel"],
  "plugins": [
    "inline-react-svg",
    "@babel/syntax-dynamic-import",
    [
      "lodash",
      {
        "id": ["lodash"]
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ]
}
